
.programma p {
  margin-top: 5px;
}

.itemData:not(.itemData:first-child) {
  border-top: 1px solid #595F7B;
}


.highlight:not(.highlight:first-child) {
  border-top: 1px solid #6DECCA;
  background-image: linear-gradient(#0a674e49, #0309230e);
  h2, p {
    color: white;
  }
}

.informationContainer {
  display: flex
}

.centerAnimation {
  padding: 30px;
  margin: auto;
  height: 30px;
}

.overview {
  overflow-y: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}