.main {
  // position: absolute;
  // overflow: hidden;
  bottom: 0;
  // height: 90vh;
  color: white;
}

.tabs {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  margin: 100px 60px 20px 60px;
  justify-content: space-between;
}

.dateContainer {
  box-sizing: content-box;
  grid-column: auto / span 1;
  padding: 20px;
  width: auto;
  background-color: #19232E;
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
}

.today, .left, .right{
  background-image: linear-gradient(#003939, #14191E);
  position: relative;
  border: 1px solid #2c3b4b;
  strong {
    color: #6DECCA;
  }
}

.left{
  background-image: linear-gradient(90deg, #003939, #14191E);
}

.right {
  background-image: linear-gradient(-90deg,#003939, #14191E);

}
// .today::after {
//   content: '';
//   width: calc(100% + 2px);
//   height: calc(100% + 2px);
//   position: absolute;
//   left: calc(-50% - 1px);
//   top: calc(-50% - 1px);
//   transform: translate(50%, 50%);
//   // opacity: 0;
//   background-image: linear-gradient(var(--deg, 180deg), white, black);
//   transition: opacity 0.5s ease-out;
//   z-index: -1;
// }

.flex {
  margin: 20px 60px;
  box-sizing: content-box;
  justify-content: space-between;
  border: 1px solid #595F7B;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}